<html>
<body style="font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.42857; font-size: 14px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: white">
    <tr th:if="${reportEmail.logoUrl}">
        <td align="center">
            <img class="logo-t" th:src="${reportEmail.logoUrl}"/>
        </td>
    </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #f0f4f5;">
    <tr>
        <td align="center">
            <table>
                <div th:each="section,sectionIter: ${reportEmail.reportEmailSections}" th:remove="tag">
                    <tr>
                        <td>
                            <h1 class="report-title-t" th:text="${section.title}">
                                Title
                            </h1>
                        </td>
                    </tr>
                    <tr style="border: 1px solid black;">
                        <td style="padding-bottom: 1em;">
                            <table class="report-content-t" th:styleappend="${section.ignoreHeader}? 'border: none;' : 'border: 1px solid black;'" style="table-layout: auto; border-collapse: collapse;">
                                <tr th:class="'report-label-' + ${sectionIter.index} + '-t'" th:if="${not section.ignoreHeader}" style="border: 1px solid black;">
                                    <th th:each="header : ${section.headers}" th:text="|${header}|" style="border: 1px solid black; padding: 5px;">
                                        Header 0
                                    </th>
                                </tr>
                                <tr th:class="'section-' + ${sectionIter.index} + '-row-' + ${rowIter.index} + '-t'" th:each="row,rowIter: ${section.rows}" th:style="${section.ignoreHeader}? 'border: none;' : 'border: 1px solid black;'">
                                    <td th:class="'section-' + ${sectionIter.index} + '-row-' + ${rowIter.index} + '-col-' + ${rowIter.index} + '-t'" th:each="column,colIter : ${row}" th:text="|${column}|"th:styleappend="${section.ignoreHeader}? 'border: none; font-size: x-large' : 'border: 1px solid black;'" style="padding: 5px;"> Val 0</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr th:if="${section.contentTooLarge}" style="border: 1px solid black;">
                        <td class="large-report-warning-t" style="padding-bottom: 1em;">
                            Report too large to display, please download attachment and view.
                        </td>
                    </tr>
                </div>
                <tr th:if="${reportEmail.attachmentSkipped}">
                    <td class="large-attachment-warning-t" style="padding-bottom: 1em; color: red">
                        P.S. Some reports were not attached as the files were too large.
                    </td>
                </tr>
                <tr style="border: 1px solid black;">
                    <td style="padding-bottom: 1em;">
                        <hr>
                    </td>
                </tr>
                <tr style="border: 1px solid black;">
                    <td class="footer-t" style="padding-bottom: 1em;">
                        Report generated by <a class="kwery-link-t" style="color: #2199e8; font-family: helvetica, arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.42857; text-decoration: none; margin: 0; padding: 0;" href="http://getkwery.com/">Kwery</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>

