<div class="container">
    <action-result params="status: status, messages: messages"></action-result>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <span class="h1"><strong data-bind="text: ko.i18n('user.save.header')"></strong></span>
            </div>
        </div>
    </div>

    <br>

    <div class="panel panel-default">
        <div class="panel-body">
            <form id="addUserForm" class="add-user-form-f">
                <div class="form-group">
                    <label data-bind="text: ko.i18n('user.name')" class="text-muted" for="username"></label>
                    <input data-bind="value: username, disable: isUpdate" class="form-control username-f" type="text" id="username" name="username" required>
                    <div class="help-block with-errors password-error-f"></div>
                </div>
                <div class="form-group">
                    <label data-bind="text: ko.i18n('password')" class="text-muted" for="password"></label>
                    <input data-bind="value: password" class="form-control password-f" type="password" id="password" name="password" required>
                    <div class="help-block with-errors username-error-f"></div>
                </div>
                <button type="submit" data-bind="text: ko.i18n('user.save.save')" class="btn btn-lg btn-primary user-save-f"></button>
            </form>
        </div>
    </div>
</div>
