<div class="container">
    <action-result params="status: status, messages: messages"></action-result>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="h1"><strong data-bind="text: ko.i18n('user.list.title')"></strong></span>
            </div>
        </div>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <p class="text-muted">First Name</p>
                </div>
                <div class="col-md-3">
                    <p class="text-muted">Last Name</p>
                </div>
                <div class="col-md-3">
                    <p class="text-muted">Email</p>
                </div>
                <div class="col-md-3">
                    <p class="text-muted">Actions</p>
                </div>
            </div>

            <!-- ko foreach:users -->
            <hr>
            <div data-bind="css: 'user-list-' + $index() +'-f'" class="row">
                <div class="col-md-3">
                    <p data-bind="text: firstName" class="first-name-f"></p>
                </div>
                <div class="col-md-3">
                    <p data-bind="text: lastName" class="last-name-f"></p>
                </div>
                <div class="col-md-3">
                    <p data-bind="text: email" class="email-f"></p>
                </div>
                <div class="col-md-3">
                    <ul class="list-inline">
                        <li>
                            <a data-bind="attr: {href: updateLink, title: ko.i18n('user.list.actions.edit.tooltip')}" class="btn btn-default btn-xs edit-f">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </li>
                        <li>
                            <button data-bind="click: $parent.delete, attr: {title: ko.i18n('user.list.delete.user.tooltip')}" class="btn btn-default btn-xs delete-f">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
