<div class="container">
    <action-result params="status: status, messages: messages"></action-result>
    <table class="table" id="usersListTable">
        <thead>
            <tr>
                <th data-bind="text: ko.i18n('user.name')"></th>
                <th data-bind="text: ko.i18n('password')"></th>
                <th data-bind="text: ko.i18n('delete')"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: users" id="usersListTableBody">
            <tr>
                <td data-bind="text: username"></td>
                <td data-bind="text: password"></td>
                <td>
                    <button data-bind="text: ko.i18n('delete'), click: $parent.delete" class="btn btn-default delete">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
