<div class="container">
    <action-result params="status: status,
                messages: messages">
    </action-result>

    <h1 class="text-center kwery-color"><strong data-bind="text: ko.i18n('product.name')"></strong></h1>
    <br>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form data-bind="submit: submit" id="loginForm">
                        <h3 data-bind="text: ko.i18n('login.title')" class="text-muted"></h3>

                        <div class="form-group">
                            <input data-bind="value: username, attr: {placeholder: ko.i18n('user.name')}" class="form-control" name="username" id="username">
                        </div>
                        <div class="form-group">
                            <input  data-bind="value: password, attr: {placeholder: ko.i18n('password')}" type="password" class="form-control" id="password">
                        </div>
                        <button data-bind="text: ko.i18n('login')" type="submit" class="btn btn-lg btn-primary" id="login"></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>

</div>
