<div class="container">
    <action-result params="status: status, messages: messages"></action-result>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Update Password</h3>
        </div>
        <div class="panel-body">
            <form data-bind="submit: submit" id="createAdminUserForm">
                <div class="form-group">
                    <label data-bind="text: ko.i18n('user.name')" for="username"></label>
                    <input data-bind="value: username" disabled class="form-control" type="text" id="username" name="username">
                </div>
                <div class="form-group">
                    <label data-bind="text: ko.i18n('password')" for="password"></label>
                    <input data-bind="value: password" minlength="1" required class="form-control" type="password" id="password" name="password">
                </div>
                <button data-bind="text: ko.i18n('update')" class="btn btn-default" id="createAdminUser"></button>
            </form>
        </div>
    </div>
</div>
