<div class="container">
    <action-result params="status: status, messages: messages"></action-result>
    <div class="row">
        <div class="twelve columns">
            <table class="u-full-width" id="datasourcesListTable">
                <thead>
                    <tr>
                        <th data-bind="text: ko.i18n('label')"></th>
                        <th data-bind="text: ko.i18n('url')"></th>
                        <th data-bind="text: ko.i18n('port')"></th>
                        <th data-bind="text: ko.i18n('user.name')"></th>
                        <th data-bind="text: ko.i18n('password')"></th>
                        <th data-bind="text: ko.i18n('delete')"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: datasources" id="datasourcesListTableBody">
                    <tr>
                        <td data-bind="text: label"></td>
                        <td data-bind="text: url"></td>
                        <td data-bind="text: port"></td>
                        <td data-bind="text: username"></td>
                        <td data-bind="text: password"></td>
                        <td>
                            <button data-bind="text: ko.i18n('delete'), click: $parent.delete" class="delete">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
