<div class="container">
    <action-result params="status: status, messages: messages"></action-result>
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <span class="h1"><strong data-bind="text: ko.i18n('datasource.list.header')"></strong></span>
            </div>
            <div class="col-md-1">
                <div class="pull-left">
                    <a data-bind="attr: {title: ko.i18n('datasource.list.add.datasource.tooltip')}" href="/#datasource/add" class="btn-circle btn-primary btn-xl edit-f">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 text-muted">
                    <p data-bind="text: ko.i18n('datasource.list.grid.host')"></p>
                </div>
                <div class="col-md-3 text-muted">
                    <p data-bind="text: ko.i18n('datasource.list.grid.type')"></p>
                </div>
                <div class="col-md-3 text-muted">
                    <p data-bind="text: ko.i18n('datasource.list.grid.label')"></p>
                </div>
                <div class="col-md-3 text-muted">
                    <p data-bind="text: ko.i18n('datasource.list.grid.actions')"></p>
                </div>
            </div>
            <!-- ko foreach: datasources -->
            <hr>
            <div data-bind="css: 'datasource-list-' + $index() +'-f'" class="row">
                <div class="col-md-3">
                    <p data-bind="text: url" class="host-f"></p>
                </div>
                <div class="col-md-3">
                    <p data-bind="text: type" class="type-f"></p>
                </div>
                <div class="col-md-3">
                    <p data-bind="text: label" class="label-f"></p>
                </div>
                <div class="col-md-3">
                    <ul class="list-inline">
                        <li>
                            <a data-bind="attr: {href: updateLink, title: ko.i18n('datasource.list.actions.edit.tooltip')}" class="btn btn-default btn-xs edit-f">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </li>
                        <li>
                            <button data-bind="click: $parent.delete, attr: {title: ko.i18n('datasource.list.actions.delete.tooltip')}" class="btn btn-default btn-xs delete-f">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
