<action-result params="status: status, messages: messages"></action-result>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title pull-left">
            <h3 data-bind="text: ko.i18n('report.label.list.header')" class="panel-title text-left"></h3>
        </div>
        <panel-add-link params="url: '/#report-label/add', tooltipMessageKey: 'report.label.list.add.tooltip'"></panel-add-link>
    </div>
    <div class="panel-body">
        <table class="table report-label-list-f">
            <thead>
                <tr>
                    <th data-bind="text: ko.i18n('report.label.list.table.header.label')"></th>
                    <th data-bind="text: ko.i18n('report.label.list.table.header.delete')"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: displayLabels">
                <tr>
                    <td><a data-bind="html: formattedLabel, attr:{href: '/#report-label/' + id}" class="label-f"></a></td>
                    <td>
                        <button data-bind="click: $parent.delete, attr: {title: ko.i18n('report.label.list.delete.tooltip')}, css: 'delete-' + $index() + '-f'">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
