<div class="container">
    <action-result params="status: status, messages: messages"></action-result>
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <span class="h1"><strong data-bind="text: ko.i18n('report.label.list.add.tooltip')"></strong></span>
            </div>
            <div class="col-md-1">
                <div class="pull-left">
                    <a data-bind="attr: {title: ko.i18n('user.list.add.user.tooltip')}" href="/#report-label/add" class="btn-circle btn-primary btn-xl">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9">
                    <p data-bind="text: ko.i18n('report.label.list.table.header.label')" class="text-muted"></p>
                </div>
                <div class="col-md-3">
                    <p data-bind="text: ko.i18n('report.label.list.grid.actions')" class="text-muted"></p>
                </div>
            </div>

            <!--ko foreach:displayLabels -->
            <hr>
            <div data-bind="css: 'report-label-list-' + $index() +'-f'" class="row">
                <div class="col-md-9">
                    <p data-bind="html: formattedLabel" class="label-f"></p>
                </div>
                <div class="col-md-3">
                    <ul class="list-inline">
                        <li>
                            <a data-bind="attr: {href: '/#report-label/' + id, title: ko.i18n('report.label.list.edit.tooltip')}" class="btn btn-default btn-xs edit-f">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </li>
                        <li>
                            <button data-bind="click: $parent.delete, attr: {title: ko.i18n('report.label.list.delete.tooltip')}"
                                    class="btn btn-default btn-xs delete-f">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/ko -->

        </div>
    </div>
</div>
