<configuration debug="true">
    
    <if condition='p("outputToConsole").equals("true")'>
        <then>
            <appender name="APPENDER" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${logFilePath:-.}/kwery.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <FileNamePattern>${logFilePath:-.}/kwery.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
                    <MaxHistory>30</MaxHistory>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>10MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </else>
    </if>

    <root level="info">
        <appender-ref ref="APPENDER" />
    </root>

    <logger name="uk.co.jemos.podam" level="ERROR" />
    <logger name="com.mchange" level="ERROR" />
<!--    <logger name="org.hibernate.resource.jdbc" level="TRACE" />-->
<!--    <logger name="org.hibernate.engine.transaction.internal.jta.JtaTransaction" level="DEBUG" />-->

<!--    <logger name="org.hibernate.jpa" level="DEBUG" />-->

<!--    <logger name="org.hibernate" level="DEBUG" />-->

</configuration>
