<div class="container">
    <div data-bind="visible: showLogin" class="jumbotron">
        <h1>Welcome!!!!</h1>
        <p data-bind="text: message"></p>
        <button data-bind="text: ko.i18n('login'), click: login" class="btn btn-default"></button>
    </div>
    <div data-bind="visible: showNextSteps">
        <h1>Next Steps:</h1>
        <ul class="list-group">
            <li data-bind="visible: showAddDatasource" class="list-group-item"><a data-bind="text: ko.i18n('next.step.add.datasource')" href="/#onboarding/add-datasource"></a></li>
            <li data-bind="visible: showAddSqlQuery" class="list-group-item"><a data-bind="text: ko.i18n('next.step.add.sql.query')" href="/#sql-query/add"></a></li>
        </ul>
    </div>
</div>
