<div class="container">
    <div data-bind="visible: showLogin" class="jumbotron">
        <h1 data-bind="text: ko.i18n('onboarding.header')"></h1>
        <p data-bind="html: message"></p>
        <button data-bind="text: ko.i18n('login'), click: login" class="btn btn-primary"></button>
    </div>
    <div data-bind="visible: showNextSteps">
        <h1>Next Steps:</h1>
        <ul class="list-group">
            <li data-bind="visible: showAddDatasource" class="list-group-item"><a data-bind="text: ko.i18n('next.step.add.datasource')" href="/#datasource/add"></a></li>
            <li data-bind="visible: showAddSqlQuery" class="list-group-item"><a data-bind="text: ko.i18n('next.step.add.sql.query')" href="/#sql-query/add"></a></li>
        </ul>
    </div>
</div>
