<div class="container welcome-f">
    <div data-bind="visible: showNextSteps" class="f-next-steps">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <span class="h1"><strong class="f-next-steps-header" data-bind="text: ko.i18n('next.step.header')"></strong></span>
                </div>
            </div>
        </div>

        <br>

        <div class="page-header">
            <ul>
                <li data-bind="visible: showAddDatasource" class="f-add-datasource"><a data-bind="text: ko.i18n('next.step.add.datasource')" href="/#datasource/add"></a></li>
                <li data-bind="visible: showAddJob" class="f-add-job"><a data-bind="text: ko.i18n('next.step.add.job')" href="/#report/add"></a></li>
            </ul>
        </div>
    </div>
</div>
