<div class="container">
    <div class="row">
        <div class="twelve columns">
            <table class="u-full-width" id="executingSqlQueriesTable">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Start Time</th>
                        <th>Datasource</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: executions">
                    <tr>
                        <td data-bind="text: sqlQueryLabel"></td>
                        <td data-bind="text: sqlQueryExecutionStartTime"></td>
                        <td data-bind="text: datasourceLabel"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>