<div class="container">
    <action-result params="status: status, messages: messages"></action-result>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title pull-left">
                <h3 data-bind="text: ko.i18n('sql.query.list.title')" class="panel-title text-left"></h3>
            </div>
            <panel-add-link params="url: '/#sql-query/add', tooltipMessageKey: 'sql.query.list.add.sql.query.tooltip'"></panel-add-link>
        </div>
        <div class="panel-body">
            <table class="table" id="sqlQueriesListTable">
                <thead>
                <tr>
                    <th data-bind="text: ko.i18n('label')"></th>
                    <th data-bind="text: ko.i18n('query')"></th>
                    <th data-bind="text: ko.i18n('datasource')"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: sqlQueries" id="sqlQueriesListTableBody">
                <tr>
                    <td>
                        <a data-bind="attr: {href: queryLink}, text: label">
                        </a>
                    </td>
                    <td data-bind="text: query"></td>
                    <td data-bind="text: datasource.label"></td>
                    <td>
                        <button data-bind="click: $parent.delete, attr: {title: ko.i18n('sql.query.list.delete.sql.query.tooltip')}" class="f-delete">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                        <button data-bind="click: $parent.executeNow, attr: {title: ko.i18n('sql.query.list.execute.sql.query.tooltip')}" class="f-execute-now">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
